
<ion-header [translucent]="true">
      <ion-toolbar id="main-toolbar">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <a href="/home"><ion-title> BlackEllis.eu </ion-title></a>
      </ion-toolbar>
</ion-header>

<!-- 
<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Ready to create an app?</strong> -->
    <!--<p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> !-->
     <!--<button routerLink="/posts">Go to page Post</button>

  </div>
</ion-content>
-->


<ion-content class="home-content">


  <div *ngIf="globalStore.catGetLastPostReqStatus(catId) == 0 else elseBlockNotLoad" >
  <div class="home-post-entity" padding>
  <div class="spin-load"><div class="spin-text">Loading Posts ... </div></div></div>
  </div>
   <ng-template #elseBlockNotLoad>
   
   <div *ngIf="globalStore.catGetLastPostReqStatus(catId) == 200; else elseBlockNotErrorRequest" >
  
  <div *ngIf="globalStore.catGetLastPostJsonFeed(catId).length > 0">
    <h2  padding class="home-post-entity" >Category {{ catTitle }}</h2>
   <ng-template let-post="post" #onePostContent>
  
    <h2>{{ post.title.final }}</h2>
        
    <div style="text-align: center;" *ngIf="(post.featured_image === undefined || post.featured_image === 0) else templateFeaturedImage" >
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" stroke="#222">
        <g fill="none" fill-rule="evenodd" stroke-width="2">
            <circle cx="22" cy="22" r="16.153">
                <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/>
                <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/>
            </circle>
            <circle cx="22" cy="22" r="19.8889">
                <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/>
                <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/>
            </circle>
        </g>
    </svg>
    </div>
    <ng-template #templateFeaturedImage>
      <ion-img [src]="post.featured_image"></ion-img>  
    </ng-template>
       
          
      <p>&nbsp;&nbsp;&nbsp;{{ post.excerpt.final }}</p>
         <p class="home-date-text">
       &nbsp;&nbsp;&nbsp;<ion-icon style="margin-bottom: -1px;color: cornflowerblue;" name="calendar"></ion-icon>&nbsp;Date:&nbsp;{{  removeTimefPostDate(post.date_gmt) }}
       <span style="float: right;margin-right: 1rem;">
       &nbsp;&nbsp;&nbsp; <ion-icon style="margin-bottom: -2px; color:cornflowerblue;" name="logo-twitter"></ion-icon>&nbsp;By:&nbsp;Alina N.
      </span></p>
         <p style="text-align:center;">
        <button  [routerLink]="['/post']" [state]="{ data: {post:post} }" class="home-button-read-more" ion-button color="primary" > &nbsp;<ion-icon name="book"></ion-icon>&nbsp;Read More</button>
        </p>

  </ng-template>

  <div padding class="home-post-entity" *ngFor="let post of globalStore.catGetLastPostJsonFeed(catId)" >
    <ng-content *ngTemplateOutlet="onePostContent;
          context: {post: post}">
    </ng-content>
  </div>
  

  <div *ngIf="loadMoreContent.length > 0">
   <div *ngFor="let posts of loadMoreContent; let i=index">
  <h2  padding class="home-post-entity" >Page {{ i + 2 }} </h2>
    <div padding class="home-post-entity" *ngFor="let post of posts['jsonFeed']">
      <ng-content *ngTemplateOutlet="onePostContent;
      context: {post: post}">
    </ng-content>
     </div>
     </div> 
     
     
     
  </div>
  <div *ngIf="isLoadingContent" class="home-post-entity" padding><div class="spin-load"><div class="spin-text">Loading Posts ... </div></div></div>
  <div *ngIf="hideLoadMoreButton == false" padding class="home-post-entity" >
  <div style="text-align:center;">
    <button class="home-button-read-more" ion-button (click)="isLoadingContent=true;hideLoadMoreButton=false;loadMore()" color="primary"> &nbsp;<ion-icon name="refresh"></ion-icon>&nbsp;Load More Articles</button>
  </div>
  </div>
  </div>
  
  </div>
  
     <ng-template #elseBlockNotErrorRequest>
      
      <div *ngIf="globalStore.catGetLastPostReqStatus(catId) == 600; else elseBlockErrorNotTimeOut" >
      <div  padding class="home-post-entity">
      <h2> <ion-icon name="alert"></ion-icon> Request TimeOut</h2>
   <p>There seems to take more then a few seconds in connecting with the Blog API. Most probably server is down. </p>
   <p>Sorry for the inconvenience.</p>
      <button ion-button  class="homepage-button" (click)="tryAgain()"> <ion-icon name="refresh"></ion-icon> &nbsp;Try Again Now</button> 
      </div> </div><ng-template padding class="home-post-entity" #elseBlockErrorNotTimeOut>
      <div  padding class="home-post-entity">
      <h2> <ion-icon name="alert"></ion-icon> Request Error Code: {{ globalStore.catGetLastPostReqStatus(catId) }}</h2>
   <p>There seems to be an error code returned for the API request.Hosting server may have some problems.</p>
   <p>Sorry for the inconvenience.</p>
      <button ion-button  class="homepage-button" (click)="tryAgain()"> <ion-icon name="refresh"></ion-icon> &nbsp;Try Again Now</button> 
      </div>
      
      </ng-template>
     </ng-template>
   </ng-template>
  
   <!--
  <ion-item>
   <p>{{ debug.errorStatus }}</p>
   <p>{{ debug.errorMessage }}</p>
  </ion-item>
  -->
  
  
  
  
  </ion-content>